__pycache__
*.egg-info
*~
*.bak
*.code-workspace
.history
.vscode
*.csv
**/_bin/*
**/_obj/*
**/_lib/*
~*
*.diff
*.patch
*.orig
*.rej

.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.swp
*.tmp
*.sdmp
*.bdmp
*.trace
*.elf
*.map
*.dmp
*.out

.deps
.libs

*.img
CON0
clrymp
dump/*
krn_11.*
mfboot
mfchkye
mfsysdmp
grsysdmp
ram_fs
**/.vs/*
*.user
unicos.generic
